/*************************SMARTPHONE****************************/
@media  screen and (min-width: 350px) and (max-width : 833px){    
    body{
        margin: 0;
        padding: 0;
    }
    
  
    #header {        
        flex-wrap: wrap;
    }
  
    #header__logo img{
        margin: 0;
        padding: 0;
        padding-left: 20px;
        padding-top: 22px;
        margin-bottom: 7px;
    }
    #header__nav {        
        margin: 0;        
        padding: 0;
        width: 100%;
        
    }
    #header__nav ul {
        
        margin: 0;
        padding: 0;                
        justify-content: flex-end;
        
    }
    #header__nav  li {
        margin: 0;
        width: 50%;
        text-align: center;        
    }
    #header__nav a:active {
        border-top: none;
    }
    #header__nav ul li:nth-child(3){
        order: -2;
        text-align: end;
        padding-right: 21px;        
        margin-top: -37px;
        
            
    }
    #header__nav li:nth-child(1){
        margin-right: 50%;
        margin-top: 20px;
        border-bottom: 2px solid #f2f2f2;
        padding-bottom: 14px;

    }
    #header__nav li:nth-child(2){
        margin-top: -37px;
        padding-bottom: 14px;
        border-bottom: 2px solid #f2f2f2;
    }
    #header__nav li:nth-child(1):active{
        border-bottom: 4px solid #0065FC;
        padding-bottom: 12px;
    }
    #header__nav li:nth-child(2):active{
        border-bottom: 4px solid #0065FC;
        padding-bottom: 12px;
    }
    #premierParagraphe{
        
        margin-top: 32px;
        margin-right: 66px;
        margin-left: 21px;        
    }     
    
    #premierParagraphe h1 {
        font-size: 1.3em;
        margin: 0;
        padding: 0;
        
    }
    #premierParagraphe h2 {
        margin-top: 12px;
        font-size: 0.98em;
        
    }    
    
   
    #search {
        width: 330px;
        margin-top: 35px;
        margin-left: 21px;
        
    }
    #search .btn {
        display: none;
    }
    
    #search .loupe {
        width: auto;
        display: block;
        color: white;        
        border-radius: 15px;       
        margin: 0;        
        padding: 0;
        margin-left: 3px;
       
    }
    #search .loupe i {
        background-color: #0065FC;
        border-radius: 15px;
        font-size: 1em;
        margin-right: 0;

       
    }
    #filters {
    margin-top: 18px;  
    margin-left: 2px;
    font-size: 1.1em;
    margin-bottom: 22px;
    }
    #filters p {
        margin-left: 20px;
    }
    .btnFilters {
        margin-left: 20px;
        margin-top: -2px;
    }
    .btnBox {

        font-size: 16px;
        margin-right: 10px;
        margin-left: -2px;
        margin-bottom: 10px;
        
    }
    .btnBox:hover {
        margin-right: 8px;

    }
    .info {
        margin: 0;
        padding: 0;
        margin-left: 18px;
        
    }
    .info div {       
        align-self: flex-start;
        margin-top: 1px;       
        
    }
    .info p {
        margin-left: 0px;
        margin-top: 4px;
    }
    #middle {
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    #accomodation {
        margin: 0;        
        
        min-width: 0;      
        width: 100%;
        background-color: white;
    }
    #accomodation__title {
        margin-left: 20px;
    }
    .accomodation__container {        
        width: 100%;
        align-items: center;
    }
    .vignette__container {
        width: 70%;
        min-width: 334px;                
        margin-bottom: 10px;
        overflow: hidden;          
        
    }

    .vignette {               
        width: auto;
           
        
    }
    .vignette img {
        margin: 0px;
        width: 120%;
    }  
    section h2 {
        margin-left: 20px;  
        margin-top: 15px;
    } 
    #popular {
        min-width: 0;
        width: 100%;
        min-height: 0;
        height: 578px ;
        margin: 0;
        margin-top: 20px;   
        border-radius: 0;     

    } 
    #head__popular h1 {
        margin-left: 20px;
    }
    .popular__container {
        margin-bottom: 5px;
    }
    #activity {
        width: 100%;
        margin: 0;
        margin-top: 10px;
    }
    #activity__h1 {
        margin-top: 8px;
        margin-left: 20px;
    }
    .activity__big {
        width: 90%;
        height: 190px;
        margin-bottom: 22px;
    }
    .activity__big img {
        height: 133px;
    }
    .activity__small {
        width: 90%;
        justify-content: flex-start;
        height: auto;
        margin-top: 5px;
        margin-bottom: 20px
    }
    .activity__box {
        width: 100%; 
        margin-bottom: 20px;      
        overflow: hidden;
    }
    .activity__small img {
        height: 133px;
    }
    .activity__box--pomegues {
        height: 190px;
    }
    .activity__box--pomegues img {
        height: 133px;
    }
    .activity__box--frioul {
        margin: 0;
        height: 190px;       
    }
    .activity__box--frioul img {
        height: 133px;
    }
    .activity__box--NDDLG {
    height: 190px;
    }
    .activity__box--NDDLG img {
        height: 133px;
    }
    .activity__box--longchamp {
        height: 190px;
    }
    .activity__box--longchamp img {
        height: 133px;
    }
    footer {
        flex-direction: column;
        margin: 0;
        height: 100%;
    }
    .block--about {
        margin: 0;
        margin-top: 25px;
        margin-left: 27px;
        margin-bottom: 0;
    }
    .block--accomodations {
        margin: 0;
        margin-top: 10px;
        margin-left: 32px;
    }
    .block--help {
        margin: 0;
        margin-top: 25px;
        margin-left: 32px;
    }
    

}
