/**********DESKTOP***********/
body {
    font-family: 'Raleway-bold', sans-serif;
    margin-top: 0;
    padding: 0;
}

.header {
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}
.header__logo{
    margin: 0;
    padding: 0;
}

.header__logo img{
    width: 95px;
    height: 30px;
    margin-top: 52px;
    margin-left: 54px;
    
    
}
.header__nav ul{
    display: flex;
    margin-right: 78px;
    margin-top: 52px;
    list-style-type: none;
    flex-wrap: wrap;
}
.mobile {
    display: flex;
}
.header__nav li{
    margin-left: 70px;
}
.header__nav a{
    text-decoration: none;
    color: black;
}                                       
.header__nav a:visited {
    color: #0065FC;
}
.header__nav a:hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    padding-top: 50px;

}
.search {
    
    clear: both;      
    width: auto;
    display: flex;
    margin-left: 10px;
    
}
.search i{ 
    font-size: 1.2em;              
    border-radius: 15px 0px 0px 15px;
    width: 52px;
    height: 52px;
    background-color: #f2f2f2;        
    line-height: 50px;
    text-align: center;
}
.search input {
    padding-left: 16px;
    border: 1px solid #f2f2f2;
    font-weight: bold;
    font-size: 1.05em;
    width: 230px;
    margin-right: -20px;
    
}
.search input:focus {
    border: 1px solid #f2f2f2;
    outline: none;
}
.search button {
    border: none;
    border-radius: 0px 15px 15px 0px;
    color: white;
    background-color: #0065fc;
    font-size: 1.05em;
}

/*************************SMARTPHONE****************************/
@media  screen and (min-width: 350px) and (max-width : 834px){    
    body{
        margin: 0;
        padding: 0;
    }
    .header {
        display: block;
        height: 10vh;
        width: 100%;
        
    }
    
    .header__logo img{
        margin: 0;
        padding: 0;
        padding-left: 21px;
        padding-top: 32px;
    }
    .header__nav {
        margin-left: 0;
        padding: 0;
        width: auto;
    }
    .header__nav ul {
        
        margin: 0;
         padding: 0;
        flex-direction: column;        
        height: 100%;
        justify-content: flex-start;
       
    }
    .header__nav li {
        margin-left: 0;
        text-align: right;
        justify-content: flex-start;
        
    }
    .mobile {
        display: flex;
        justify-content: space-around;
        
    }
    .mobile li{
        width: 50%;
        text-align: center;
    }
    .inscription {
        order: -2; 
        margin-top: -29px;   
        margin-bottom: 44px; 
        padding-right: 21px;   
        
    }
    .header__nav a:hover{
        border-top: none;
    }    
    
    .mobile li a:visited{
        border-bottom-color: 2px solid #d6fc00;
      
    }
    .mobile li:active{
        color: #0065FC;
        border-bottom: 2px solid #0065FC;
        padding-bottom: 20px;
    }

    
    
    .premierParagraphe{
        margin-top: 36px;
        margin-right: 66px;
        margin-left: 21px;
        
    } 

    .premierParagraphe p:nth-child(1){
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 16px;
    }

    .search--mobile{
        width: auto;
        display: flex;
        margin-left: 21px;
        margin-right: 21px;
    }

    .search--mobile i{ 
        font-size: 1.2em;              
        border-radius: 15px 0px 0px 15px;
        width: 52px;
        height: 52px;
        background-color: #f2f2f2;        
        line-height: 50px;
        text-align: center;
    }

    .search--mobile input {
        padding-left: 16px;
        border: 1px solid #f2f2f2;
        font-weight: bold;
        font-size: 1.05em;
        width: 230px;
        margin-right: -20px;
        
    }

    .search--mobile input:focus {
        border: 1px solid #f2f2f2;
        outline: none;
    }

    .search--mobile button {
        border: none;
        background-color :#0065FC;
        color: white;
        font-size: 1.1em;
        border-radius: 16px;
        width: 51px;
    }
    

/************TABLETTE************/
@media screen and (min-width:834) and (max-width : 1366px){
    body{        
        width: 100%;
        margin: 0;
        padding: 0;
    }    
    
    

    .premierParagraphe{
        display: flex;
        float: left ;             
        width: 40%;          
    }
    .premierParagraphe p{
        margin-right: 20px;
        font-size: 0.9em;
        float: right;
        margin-top: 0;
        text-align: center;
        
    }
    .search {
        width: 380px;        
    }
    .search i {
        height: 45px;
        line-height: 45px;
    }
    
    
}
}
