/**********DESKTOP***********/
body {
    font-family: 'Raleway', sans-serif;
    margin-top: 0;
    padding: 0;
}
.mobile{
    display: none;
}
.header {
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
}
.header__logo{
    margin: 0;
    padding: 0;
}

.header__logo img{
    width: 95px;
    height: 30px;
    margin-top: 52px;
    margin-left: 54px;
    
    
}
.header__nav ul{
    display: flex;
    margin-right: 78px;
    margin-top: 52px;
    list-style-type: none;
    flex-wrap: wrap;
}
.header__nav li{
    margin-left: 70px;
}
.header__nav a{
    text-decoration: none;
    color: black;
}                                       
.header__nav a:visited {
    color: #0065FC;
}
.header__nav a:hover {
color: #0065FC;
border-top: 3px solid #0065FC;
padding-top: 50px;

}
.premierParagraphe p:nth-child(1){
    font-weight: bold;
}

/***********SMARTPHONE****************/
@media  screen and (max-width: 414px) {
    .header__nav, .header__logo{  /*cache le header desktop*/
        display: none;
    }
    
    body{
        margin: 0;
        padding: 0;
    }
    .mobile{
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        
        
    }
    
    .mobile__header {
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: space-between
    }
    .mobile p {
        margin: 0;
    }
    .mobile img {        
        width: 93px;
        height: 30px;
        padding-top: 31px;
        padding-left: 21px;
        
    }
    
    
    .mobile a{
        text-decoration: none;
        color: black;
    }
    .mobile a:visited {
        color: #0065FC;
    }
    
    
    .mobile p {        
        padding-right: 21px;
        padding-top: 43px;
        
    }    
    ul{
        margin: 0;
        padding: 0;
    }
    .mobile ul{
        margin-left: 0;
        display: flex;        
        list-style: none;
        justify-content: space-around;
        width: 100%;
        
    }
    .mobile li:active{ /*active car sur smartphone*/
        border-bottom: 2px solid blue;
    }
    .mobile li {
        padding-top: 30px;
        padding-bottom: 20px;
        text-align: center;        
        width: 50%;
        border-bottom: 2px solid #f2f2f2;
    } 
    .search{
        width: 100%;
        display: flex;
    }
    .search i{ 
        font-size: 1.2em;
        margin-left: 2px;       
        border-radius: 15px 0px 0px 15px;
        width: 52px;
        height: 52px;
        background-color: #f2f2f2;        
        line-height: 50px;
        text-align: center;
    }
    .search input {
        border: 1px solid #f2f2f2;
        font-weight: bold;
        font-size: 1.05em;
        
    }
    .search input:focus {
        border: 1px solid #f2f2f2;
        outline: none;
    }
    .search button {
        border: none;
        background-color :#0065FC;
        color: white;
        font-size: 1.2em;
        border-radius: 0px 15px 15px 0px;
    }
    
}
/************TABLETTE************/
@media screen and (min-width:416px) and (max-width : 1366px){
    body{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .mobile{
        display: none;
    }
    .header{
        display: flex;
        margin: 0;
        padding: 0; 
        height: 5vh;       
        width: 57%;
        float: right;
    }
    .header__logo{
        margin-top: 0;
        margin-left: 40px;
        padding: 0;
    }
    .header__logo p{
        margin-top: 0px;

    }
    .header__logo img {
        height: 40px;
        width: 110px;
        margin-top: 0px;
        margin-left: 0px;
    }
    .header__nav ul{
        margin-top: 8px;
        margin-right: 20px;

        
    }
    .header__nav li{
        margin-top: 0;
        margin-right: 0;
        margin-left: 25px;
        padding-top: 5px;
    }
    .header__nav a:hover{ /*hover car sur tablette possibilité d'avoir un clavier souris*/
        border-top: 2px solid #0065FC;
        padding-top: 11px;
        
        
    }

    .premierParagraphe{
        display: flex;
        float: left ;
             
        width: 40%;        
    }
    .premierParagraphe p{
        margin-right: 20px;
        font-size: 0.9em;
        float: right;
        margin-top: 0;
        text-align: center;
        
    }
    
}

