header {
    display: flex;
    justify-content: space-between;
}
header img{
    width: 95px;
    height: 30px;
    margin-top: 52px;
    margin-left: 54px;
}
.menu ul{
    display: flex;
    margin-right: 78px;
    margin-top: 52px;
    list-style-type: none;
    flex-wrap: wrap;
}
.menu li{
    margin-left: 70px;
}
.menu a{
    text-decoration: none;
    color: black;
}
