body {
    margin: 0;
    padding: 0;
}
header {
    width: 100%;
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    
}
header img{
    width: 95px;
    height: 30px;
    
    margin-top: 52px;
    margin-left: 54px;
    
}
.menu ul{
    display: flex;
    margin-right: 78px;
    margin-top: 52px;
    list-style-type: none;
    flex-wrap: wrap;
}
.menu li{
    margin-left: 70px;
}
.menu a{
    text-decoration: none;
    color: black;
}
.menu a:visited {
    color: #0065FC;
}
.menu a:hover {
    color: #0065FC;
    border-top: 2px solid #0065FC;
    padding-top: 52px;
}
